body, html {
    font-family: 'VT323', monos;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    width: 80px;
    font-family: 'VT323', monos;
    height: 80px;
    font-weight: 500;
    font-size: 48px;
    background-color: rgb(15, 15, 15);
    color: chartreuse;
    border-bottom: 4px solid rgb(43, 43, 43);
    border-right: 4px solid rgb(43, 43, 43);
}

.operandButton {
    font-size: 32px;
}

#clear {
    text-align: left;
    padding-left: 24px;
}

#calculatorBody {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    padding: 40px;
}

#calculatorDisplay {
    height: 112px;
    width: 314px ;
    margin-bottom: 40px;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 16px;
    user-select: none;
    flex-direction: column;
    color: chartreuse;
}

#calculatorDisplayTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
}

#displayValue {
    font-size: 80px;
}

#displayOperand {
    width: 100%;
}

#clear {
    width: 240px;
}

#zero { 
    width: 160px
}